context debug
  trigger quit
    keyboard       escape
  trigger console
    keyboard       f9
  trigger frame_rate_meter
    keyboard       f10
  trigger pdb
    keyboard       f11
  trigger pstats
    keyboard       f12
context character_movement
  axis2d direction
    gamepad            left_x left_y
    spatial_mouse      x:scale=3 y:scale=3
    keyboard           a d s w
  axis2d rotation
    gamepad            dpad_left dpad_right dpad_down dpad_up
    keyboard           arrow_left arrow_right arrow_down arrow_up
  trigger jump
    gamepad            face_x
    spatial_mouse      z:button>=0.3
    keyboard           space
  button crouch
    gamepad            face_b
    spatial_mouse      z:button<=-0.3
    keyboard           c
  button sprint
    gamepad            ltrigger
    keyboard           e
context camera_movement
  axis2d rotation
    gamepad            right_x:exp=2 right_y:exp=2:scale=-1
    spatial_mouse      yaw:flip:scale=2 pitch
    keyboard           mouse_x_delta mouse_y_delta
  axis zoom
    keyboard           u o
context clock_control
  axis time_zoom
    keyboard           - +
