context debug
  trigger quit
    keyboard           escape
  trigger console
    keyboard           f9
  trigger frame_rate_meter
    keyboard           f10
  trigger pdb
    keyboard           f11
  trigger pstats
    keyboard           f12
context character_movement
  axis2d direction
    gamepad            left_x:deadzone=0.02 left_y:deadzone=0.02
    keyboard           a d s w
  axis2d rotation
    gamepad            dpad_left dpad_right dpad_down dpad_up
  trigger jump
    gamepad            face_a
    keyboard           space
  button crouch
    gamepad            face_y
    keyboard           c
  button sprints
    gamepad            ltrigger
    keyboard           e
context camera_movement
  axis2d rotation
    gamepad            right_x:deadzone=0.02 right_y:deadzone=0.02:flip
    keyboard           arrow_left arrow_right arrow_down arrow_up
context camera_zoom
  axis zoom
    keyboard           u o
context character_direction
  axis2d direction
    gamepad            right_x:deadzone=0.02 right_y:deadzone=0.02
    keyboard           arrow_left arrow_right arrow_down arrow_up
context clock_control
  axis time_zoom
    keyboard           - +
context select_entity
  trigger select
    keyboard           mouse1
  trigger command
    keyboard           mouse3
  trigger embody
    keyboard           1
