context debug
  trigger quit
    keyboard           escape
  trigger console
    keyboard           f9
  trigger frame_rate_meter
    keyboard           f10
  trigger pdb
    keyboard           f11
  trigger pstats
    keyboard           f12
context interface
  trigger take
    keyboard           mouse1
