<script>
  function set_options(selector, items){
    // Delete old options
    for(var i = selector.options.length - 1 ; i >= 0 ; i--) {
        selector.remove(i);
    }
    // Add new options

    for (item in items){
      var option = document.createElement("option");
      option.text = item;
      selector.add(option);
    }
  }

  function get_index(selector) {
    var index = selector.selectedIndex
    if (index < 0){
      index = 0
    }
    return index
  }

  var tileman = {
    tileset_select : "",
    collection_select : "",
    tile_select : "",
    loaded : {},
    tileset : "",
    collection : "",
    tile : "",
    refresh: function() {
      this.tileset_select = document.getElementById("tileset_selector");
      this.collection_select = document.getElementById("collection_selector");
      this.tile_select = document.getElementById("tile_selector");
    },
    load : function(filename) {
      load_tileset(filename);
    },
    load_tilesets : function(tilesets) {
      this.refresh();
      this.loaded = tilesets;
      set_options(this.tileset_select, tilesets)
      this.update_tileset()
    },
    update_tileset : function() {
      index = get_index(this.tileset_select)
      this.tileset = Object.keys(this.loaded)[index];
      set_options(this.collection_select, this.loaded[this.tileset])
      this.update_collection()
    },
    update_collection : function() {
      index = get_index(this.collection_select)
      collections = this.loaded[this.tileset]
      this.collection = Object.keys(collections)[index];
      set_options(this.tile_select, this.loaded[this.tileset][this.collection])
      this.update_tile()
    },
    update_tile: function() {
      index = get_index(this.tile_select)
      this.tile = Object.keys(this.loaded[this.tileset][this.collection])[index];
      update_tile(this.tileset, this.collection, this.tile)
    }
  };

  function load_tiles_test(){
    tileman.load("../../assets/tiles.bam");
  }
</script>
<div id="mapeditor" style="position: fixed; right:0%">
  <div id="tile_selecting" style="display:grid; width:12em">
      Tileset: <select id="tileset_selector" onchange="tileman.update_tileset()"></select>
      Collection: <select id="collection_selector" onchange="tileman.update_collection()"> </select>
      Tile: <select id="tile_selector" onchange="tileman.update_tile()"> </select>
  </div>
  <div id="file_buttons" style="display:grid; width:12em">
    <button onclick="load_tiles_test()">Load tileset</button>
    <button onclick="save_map()">Save map</button>
    <button onclick="load_map()">Load map</button>
    <button onclick="export_map()">Export to bam</button>
  </div>
  <div id="map_editor_notes" style="position: fixed; bottom:0%; right:0%">
    <ul>
    <li>LIJK - rotate camera</li>
    <li>< >  - rotate cursor</li>
    <li>WASD - fw/bw/l/r</li>
    <li>PGUP/PGDN - up/down</li>
    <li>shift - fine movement</li>
    <li>space - place tile</li>
    <li>backspace - remove tile</li>
    <li>delete - clear cell</li>
    <li>[ ]  - zoom in/out & speed</li>
    </ul>
  </div>

</div>
