context debug
  trigger quit
    keyboard           escape
  trigger console
    keyboard           f9
  trigger frame_rate_meter
    keyboard           f10
  trigger pdb
    keyboard           f11
  trigger pstats
    keyboard           f12
context character_movement
  axis2d direction
    gamepad            left_x:deadzone=0.01 left_y:deadzone=0.01
    spatial_mouse      x:scale=3.0 y:scale=3.0
    keyboard           a d s w
  axis2d rotation
    gamepad            dpad_left dpad_right dpad_down dpad_up
    spatial_mouse      yaw:flip=:scale=3.0 pitch:scale=2.0
    keyboard           arrow_left arrow_right arrow_down arrow_up
  trigger jump
    gamepad            face_x
    spatial_mouse      z:button>=0.3
    keyboard           space
  button crouch
    gamepad            face_b
    spatial_mouse      z:button<=-0.3
    keyboard           c
  button sprints
    gamepad            ltrigger
    keyboard           e
context camera_movement
  axis2d rotation
    gamepad            right_x:deadzone=0.02 right_y:deadzone=0.02:flip
  axis zoom
    keyboard           u o
context clock_control
  axis time_zoom
    keyboard           - +
context select_entity
  trigger select
    keyboard           mouse1
  trigger command
    keyboard           mouse3
  trigger embody
    keyboard           1
